.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 75%;
  height: 4px;
  background-color: #3fd28b;
  margin: 4px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;
  width: -moz-fit-content;
  width: fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: block;
  z-index: 98;
  background-color: #fff;
  padding-top: 120px;
  overflow-y: scroll;
  transition: 0.2s 0;
}

.mobile-nav.is-active {
  right: 10%;
}

.mobile-nav a {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: white;
  color: #3fd28b;
  text-decoration: none;
}

.mobile-nav,
a:hover {
  background-color: #fff;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
.alerts {
  position: relative;
  display: inline-block;
}

.alerts button {
  background-color: transparent;
  border: none;
}

.submenu {
  display: none;
  position: absolute;
  background-color: white;
  list-style-type: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.submenu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #3fd28b;
  margin-right: auto;
}

.submenu a:hover {
  background-color: white;
}

.alerts:hover .submenu {
  display: block;
  justify-content: center;
  align-items: center;
}

.alerts:hover .dropbtn {
  background-color: #3fd28b;
}

article {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  background: #eeeeee 0% 0% no-repeat padding-box;
}
article > * {
  grid-column: 2;
  min-width: 0;
  min-height: 1080px;
}

.header {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #3fd28b;
}
.header > div:nth-child(2) {
  margin-left: auto;
}

.navbar {
  display: none;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  color: #3fd28b;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
  font: Quicksand-medium;
}

body {
  margin: 0;
  background: #eeeeee 0% 0% no-repeat padding-box;
  font-family: "Quicksand", sans-serif;
}

.content {
  height: 100%;
}

.menu {
  background-color: #3fd28b;
  display: flex;
  justify-content: space-around;
  grid-column: 1/-1;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Quicksand-medium;
}

.Course {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 19px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.Classes {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 19px;
  margin-bottom: 15px;
}

.filter {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 16px;
}

.Sort {
  display: flex;
  gap: 10px;
}

.filterdrop {
  border: none;
  border-bottom: 2px solid rgb(155, 152, 152);
  background: transparent;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.drop {
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 100%;
}

.Courses {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.Course-1 {
  grid-column: 1/2;
  background-color: white;
  padding: 20px;
}

.Course-1-content {
  display: flex;
  gap: 16px;
}

.Content-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.Content-1 > div:nth-child(2) {
  font-family: Quicksand-light;
}

.Course-1-footer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid lightgrey;
  margin-top: 16px;
  margin-bottom: 9px;
  padding-top: 16px;
}

.information {
  display: flex;
  gap: 10px;
}

.Course-2-content {
  display: flex;
  gap: 10px;
}

.Course-2-footer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid lightgrey;
  margin-top: 16px;
  margin-bottom: 9px;
  padding-top: 16px;
}

.Course-2 {
  grid-column: 2/3;
  background-color: white;
  padding: 20px;
}

.Course-3 {
  grid-column: 1/2;
  background-color: white;
  padding: 20px;
}

.Course-4 {
  grid-column: 2/3;
  background-color: white;
  padding: 20px;
}

.msg {
  display: flex;
  justify-content: center;
  color: green;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 20px;
}

p > span {
  border-left: 1px solid rgba(157, 157, 157, 0.666);
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  background-color: rgba(128, 128, 128, 0.301);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.footer > span {
  border-left: 1px solid rgba(82, 82, 82, 0.415);
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.footer > p {
  font-weight: 500;
}

.totalfooter {
  left: 0;
  bottom: 0;
  width: 100%;
}

.fav {
  opacity: 0.2;
  color: lightgrey;
}

.navbar a:hover {
  color: white;
  border-bottom: white 5px;
}

.mobile-nav a:hover {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .Course-1 {
    width: 100%;
  }
  .Course-2 {
    width: 100%;
  }
  .Course-3 {
    width: 100%;
  }
  .Course-4 {
    width: 100%;
  }
  .header {
    flex-direction: row;
    align-items: flex-end;
  }
  .header > div:nth-child(3) {
    margin-left: auto;
  }
  .navbar {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav a:hover {
    background-color: white;
  }
  .mobile-nav.active {
    left: 0;
  }
}
@media screen and (min-width: 769px) {
  .Courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .header {
    flex-direction: row;
  }
  .navbar {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
@media only screen and (max-height: 950px) {
  .totalfooter {
    position: relative;
  }
}/*# sourceMappingURL=timpass.css.map */